/*
	Quota CSS file
	default CSS last updated in version 2009-09-26
*/

:root {
  --quota-used-color: #484853;   /* red-ish */
  --quota-free-color: #cccccc;   /* green-ish */
  --quota-grid-color: #000000;
  --quota-bg-color: transparent; /* or a hex */
  --quota-text-color: #333333;
}

#settings-sections a.quota,
#settings-sections li.quota > a,
a.listitem.quota,
li.quota > a {
  background-image: url('./images/quota.svg') !important;
  background-repeat: no-repeat !important;
  background-position: 8px center !important;
  background-size: 18px 18px !important;
  padding-left: 36px; /* ensure text doesn't overlap the icon */
}

#settings-sections a.quota.selected,
#settings-sections li.quota.selected > a,
a.listitem.quota.selected,
a.listitem.quota:focus,
a.listitem.quota:hover,
li.quota > a.selected {
  background-image: url('./images/quota_act.svg') !important;
}
